body {
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
.logo {
  position: fixed;
  left: 45%;
  top: 10px;
  transform: translate(-50%);
  width: 100px;
}
.StripeCheckout {
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  outline: none;
  background: #222;
  border-radius: 15px;
  color: #fff;
}
.navList {
  width: 100vw;
  padding: 40px 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 12%;
}
.navList li {
  display: inline;
  margin: 20px 50px 20px 0;
}
.main-container {
  margin-top: 100px;
}
.productTile {
  margin: 0 0 20px 0;
  text-align: center;
}
.productImage:hover,
  button:hover {
  cursor: pointer;
}
.productList-container {
  width: 50%;
  float: left;
}
.productContainer {
  position: fixed;
  left: 50%;
  float: left;
  text-align: center;
}
