body {
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h3 {
  margin: 0;
  padding: 0;
}
.App{
  max-width: 1200px;
  margin: 0 auto;
}
.StripeCheckout:hover,
.StripeCheckout:focus,
.StripeCheckout {
  background: none !important;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 0px !important;
}
.StripeCheckout span {
  content: '';
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 10px 30px !important;
  border: none;
  font-size: 18px;
  outline: none;
  background: #333 !important;
  border-radius: 15px;
  color: #fff;
}
.nav-container {
  width: 1200px;
  left: 45%;
  top: 0;
  position: fixed;
  transform: translate(-50%);
  z-index: 10;
}
.logo {
  width: 50px;
  margin-bottom: -20px;
}
.navList {
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  background: #fff;
}
.navList li {
  display: inline;
  padding: 15px;
}
.main-container {
  margin-top: 100px;
}
.productTile {
  margin: 0 0 20px 0;
  text-align: center;
}
.productImage:hover,
  button:hover {
  cursor: pointer;
}
.productList-container {
  width: 50%;
  float: left;
}
.productContainer {
  position: fixed;
  left: 50%;
  float: left;
  text-align: center;
}
